<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <section class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <a href="#">
                        <div class="main-logo">
                            <img src="img/main-logo.png" alt="">
                            <h2>HELP CHARITY</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="http://localhost:3000">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">CAUSES</a></li>
                            <li><a href="#">EVENT</a></li>
                            <li><a href="#">PORTFOLIO </a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!DOCTYPE html>
    <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <html lang="en" class="no-js">
    <!--<![endif]-->
    
    <head>
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script>
           function functionAlert(msg, myYes) {
              var confirmBox = $("#confirm");
              confirmBox.find(".message").text(msg);
              confirmBox.find(".yes").unbind().click(function() {
                 confirmBox.hide();
              });
              confirmBox.find(".yes").click(myYes);
              confirmBox.show();
           }
        </script>
        <style>
           #confirm {
              display: none;
              background-color: #FFFFFF;
              border: 1px solid #aaa;
              position: fixed;
              width: 320px;
              left: 50%;
              margin-left: -100px;
              padding: 6px 8px 8px;
              box-sizing: border-box;
              text-align: center;
           }
           #confirm button {
              background-color: #48E5DA;
              display: inline-block;
              border-radius: 5px;
              border: 1px solid #aaa;
              padding: 5px;
              text-align: center;
              width: 80px;
              cursor: pointer;
           }
           #confirm .message {
              text-align: left;
           }
        </style>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="./customerHomePage.css" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
        <!-- Bootstrap Core JavaScript -->
        <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    
        <!-- Bootstrap Core CSS -->
        <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    </head>
    
    <body>
    
        <ul class="nav nav-tabs navbar-inverse">
            <li><a href="http://localhost:3000/">Back</a></li>

            <li class="active"><a href="#form1" data-toggle="tab">Charity Details </a></li>
    
           
    
    
        </ul>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <legend align="center">Active Charity Programs</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a ID">
                            <table class="table" id="myTable">
                              <thead class="thead-dark">
                                <tr>
                                  <th>Block ID</th>
                                  <th>Charity Name</th>
                                  <th>Charity Details</th>
                                  <th>Target ETH</th>
                                  <th>Date</th>
                                  <th>Status</th>
                                  <th>Validate</th>
                                </tr>
                              </thead>
                              <tbody>
                                <%kyclist.forEach(kycs => {%> 
                                <tr class="alert" role="alert">
                                  <td><%= kycs._id %></td>
                                  <td><%= kycs.first_name%></td>
                                  <td><%= kycs.email%></td>
                                  <td><%= kycs.count %></td>
                                  <td><%= kycs.date %></td>
                                  <td><%= kycs.status %></td>
                                  <td><form class="container" method="post" action="/approve">
                                    <input type="hidden" name="id" value=<%= kycs._id %> />
                                    <button class="submit-btn">Approve</button>
                                </form>
                                <form class="container" method="post" action="/reject">
                                    <input type="hidden" name="id" value=<%= kycs._id %> />
                                    <button class="submit-btn">Reject</button>
                                </form></td>
                                  
    
                    </tr>
                                <%})%>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tab-content">
            <div id="form1" class="tab-pane fade in active">
                <form class="well form-horizontal" id="contact_form">
                    <fieldset>
    
                        <!-- Form Name -->
    
    
                      
    
    
    
            <div id="form2" class="tab-pane fade in">
                <form class="well form-horizontal" id="contact_form">
                    <fieldset>
    
                        <!-- Form Name -->
                        
                        <script type="text/javascript" src="./dist/web3.min.js"></script>
                        <script type="text/javascript">
                            if (typeof window.web3 !== "undefined" && typeof window.web3.currentProvider !== "undefined") {
                                var web3 = new Web3(window.web3.currentProvider);
                            } else {
                                var web3 = new Web3();
                            }
                        </script>
                        <script language="JavaScript" type="text/javascript" src="./js/contractDetails.js"></script>
                        <script language="JavaScript" type="text/javascript" src="./customerHomePage.js"></script>
    
                        <script language="JavaScript" type="text/javascript">
                            what();
                        </script>
    <script>        <script type="text/javascript">
    
    
    
    
    
    
                    </fieldset>
                </form>
            </div>
        </div>
    
    
    
        <!-- jQuery -->
        <script src="./vendor/jquery/jquery.min.js"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    
        <!-- Theme JavaScript -->
        <script src="./js/agency.min.js"></script>
    
    </body>
    
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        </script>
        <div class="clear"></div>






        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-charity-text">
                            <h2>HELP CHARITY</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                            <hr>
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-5">
                                <div class="footer-text one">
                                    <h3>RECENT POST</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing </a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <div class="footer-text two">
                                    <h3>USEFUL LINKS</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Causes</a></li>
                                        <li><a href="#">Event</a></li>
                                        <li><a href="#">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-text one">
                                    <h3>CONTACT US</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">location_on</i>1 Street, derby, FL 2147, USA</a></li>
                                        <li><a href="#"><i class="material-icons">email</i>dartthemes@gmail.com</a></li>
                                        <li><a href="#"><i class="material-icons">call</i>+123456789</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>Copyright @ 2017 <a href="#">DartThemes</a> | All Rights Reserved </p>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/animationCounter.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/active.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script>
        const ethereumButton = document.querySelector('.enableEthereumButton');
    const sendEthButton = document.querySelector('.sendEthButton');
    
    let accounts = [];
    
    //Sending Ethereum to an address
    sendEthButton.addEventListener('click', () => {
      ethereum
        .request({
          method: 'eth_sendTransaction',
          params: [
            {
              from: accounts[0],
              to: '0x2f318C334780961FB129D2a6c30D0763d9a5C970',
              value: '0x29a2241af62c0000',
              gasPrice: '0x09184e72a000',
              gas: '0x2710',
            },
          ],
        })
        .then((txHash) => console.log(txHash))
        .catch((error) => console.error);
    });
    
    ethereumButton.addEventListener('click', () => {
      getAccount();
    });
    
    async function getAccount() {
      accounts = await ethereum.request({ method: 'eth_requestAccounts' });
    }
    </script>
</body>

</html>